:root {
	--wave-color-solid-contrast-fill: var(--track-vibrant-color);

	--wave-color-solid-base-brighter: #030303;
	--wave-color-opacity-base-brighter-ultra-thick: #030303;

	--user-profile-linear-gradient: linear-gradient(160deg,
			var(--track-vibrant-color) 1.22%,
			#0c0c0c 79.07%) !important;

	--wave-color-solid-accent-fill: var(--user-profile-linear-gradient)
}

#sidebar {
	background: black;
}

#footerPlayer {
	background: transparent;
}

#feedSidebar,
[aria-label="Shuffle"],
[data-test="recent-searches-container"],
[data-test="query-suggestions"] {
	background: #030303;
}

.betaBadge {
	display: none;
}